In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('boston.csv')

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
df.shape

(506, 14)

In [8]:
x = df.drop(columns = 'MEDV', axis = 1)
y = df.MEDV
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = .80)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [33]:
scaler = StandardScaler()

scaler.fit(x_train)
scaler.fit(x_test)

x_train_s = scaler.transform(x_train) 
x_test_s = scaler.transform(x_test)

In [34]:
x_train_s

array([[-0.40065047, -0.51606271, -0.43903056, ...,  1.25217593,
         0.39109934,  0.03336514],
       [-0.49546663, -0.51606271, -0.15365471, ..., -0.11474789,
         0.45766076,  0.51350844],
       [ 0.20137885, -0.51606271,  1.08093921, ...,  0.91044497,
         0.27316882, -1.30990965],
       ...,
       [-0.50519925, -0.51606271, -1.1608636 , ..., -0.11474789,
         0.47617642, -0.9945076 ],
       [-0.50321157, -0.51606271, -1.06319486, ..., -0.62734433,
         0.441329  , -0.34539892],
       [-0.50344799, -0.51606271, -1.24021945, ..., -0.02931516,
         0.47617642, -0.89735251]])

In [52]:
model = LinearRegression()

model.fit(x_train_s, y_train)

model.score(x_test_s, y_test)

0.8332099160724754

In [53]:
model.intercept_

23.354300138833157

In [54]:
ypred = model.predict(x_test_s)

In [56]:
from sklearn.metrics import mean_squared_error
from math import sqrt


mse = mean_squared_error(y_test,ypred)
rmse = sqrt(mse)

In [57]:
rmse

3.795744518797149

In [58]:
ypredtrain = model.predict(x_train_s)

In [59]:
mse = mean_squared_error(y_train,ypredtrain)
rmse = sqrt(mse)

In [60]:
rmse

4.895307291253237